<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
      <div class="login-page">
          <div class="form">
            <form class="login-form" id="login_form">
              <input type="text" placeholder="username" id="username" name="username" required>
              <font color="red">
                <span id="error_username" class="error"></span>
              </font>
              <input type="password" placeholder="password"id="password" name="password" required>
              <font color="red">
                <span id="error_password" class="error"></span>
              </font>
              <input class="button" id="login" type="button" value="Login"></input>
              <p class="message">Not registered? <a href="index.php?module=ctrl_login&op=register_view">Create an account</a></p>
              <p class="message">Forgot <a href="#">password?</a></p>
            </form>
          </div>
        </div>
      </body>
</html>

