<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div class="login-page">
        <div class="form">
          <form id="register_form" class="login-form" method="post">
            <input type="text" name="username" placeholder="username" id="username"/>
            <font color="red">
              <span id="error_username" class="error"></span>
            </font>
            <input type="password" name="password" placeholder="password" id="password"/>
            <font color="red">
              <span id="error_password" class="error"></span>
            </font>
            <input type="text" name="email" placeholder="email address" id="email"/>
            <font color="red">
              <span id="error_email" class="error"></span>
            </font>
            <input class="button_register" id="register" type="button" value="Register"></input>
          </form>
        </div>
      </div>
    </body>
</html>