<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShopCar</title>
        <link href="view/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <!--Glider-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <!--End Glider-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="module/home/model/ctrlHomePage.js"></script>  
        <link rel="shortcut icon" type="image/jpg" href="view/img/logo.png"/>  
        <script src="view/inc/js/main.js"></script> 
    </head>
</html>