<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShopCar</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	    <link href="view/css/style.css" rel="stylesheet" type="text/css"/>
    	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="view/img/logo.png"/>
        <!--Glider-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <!--End Glider-->
        <!--MapBox-->
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet'/>
        <!--End MapBox-->
        <!--BOT PAGE-->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
        <!--End BOT PAGE-->
        <!--Toaster-->
        <link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css' rel='stylesheet'/>
        <!--Toaster-->
        <script src="module/shop/model/ctrlShopPage.js"></script>
        <script src="view/inc/js/main.js"></script>
    </head>
</html>