<!DOCTYPE html>
<html>
    <body>
        <div>
            <aside class="mt-Filter-aside">
                <form autocomplete="on" method="post" id="form_filter" name="form_filter">         
                    <div class="texto_higtlike"></div>
                    <div class="higtlike"></div>
                    <div class="Delete_hisgtlike"></div>      
                    <div class="filters"></div>
                </form>
            </aside>
        </div>
        
        <section class="mt-AdsList-content">
            <div class="cat_cars"></div>
        </section>

        <div class="map_list_car"></div>

        <div class="modaldet_car"></div>
        <section class="view_car_shop">
            <div class="carousel_shop">
                <div class="carousel__container">
                    <div class="carousel__shop"></div>
                </div>
                <div class="carousel__indicator"></div>
                <div class="view_information_car"></div>
            </div>
            <div>
                <aside class="mt-Detail-inner mt-Detail-aside">
                    <div class="mt-Detail-formContactSellerWrapper">
                        <div class="Form_Aside_Car"></div>
                    </div>
                </aside>
            </div>
        </section>
        <p id="pagination_shop"></p>
        <div class="more_related"></div>

        

        
        
    </body>
</html>